
:root {
	--rows: 3;
	--flip-duration: 150ms;
}


#grid-container {
	margin: 0px var(--space);
	display: grid;
	
	/* grid-template-columns: repeat(auto-fill,minmax(150px,calc(100%/var(--rows)))); */
	
	grid-template-columns: repeat(var(--rows), calc(100% / var(--rows))); 

}

.sorting {
    position: relative;
    height: 2.4em;
}

.sorting h4 {
    top: 7px;
    position: absolute;
    margin: 0;
    padding: 0;
}

.sorting .options {
    position: absolute;
    right: 15px;
    list-style-type: none;
}

.sorting .option{
    padding: 1px 5px;
    position: relative;
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
    border: 2px solid var(--accent-color);
    border-radius: var(--corner-radius);
}

.selected {
    background: var(--accent-color);
}

.card {
	
	height: 320px;
	/*boks*/
	background-color: #FFFFFF;
	/*border: 1px solid black;*/
	padding: 0px;
	margin: 0px var(--extra-space) 36px var(--extra-space);
	border-radius: var(--corner-radius);

	position: relative;

	box-shadow: var(--shadow);

	cursor: pointer;

	/*animation*/
	transition: transform 200ms;



	/*tekst*/
	font-size: 25px;
	text-align: left;
	color: black;
	text-decoration: none;
	overflow:hidden


}

.card:hover{
	transform: translateY(-5px);
}

.card img{
	object-fit: cover;

	position: relative;
	top: 0;


	margin: 0;
	padding: 0;
	height: 220px;
	width: 100%;
}

.card-title{
	font-family: var(--header-font);
	font-size: 23px;

	/*word-wrap: break-word;*/

	position: absolute;
	top: 8%;
	left: 0%;

	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 0.3em 6% 0.2em 4%;
	/*padding-left: 3%;*/
	/*padding-right: 20px;*/
	border-radius: 0px var(--corner-radius) var(--corner-radius) 0px;
	max-width: 90%;
}


.info{
	/*background-color: red;*/
	margin: 0px 10px 16px 10px;
	font-size: 13px;
}


.infobar{
	/*grid*/
	display: grid;
	grid-template-columns: repeat(2, 50%);

	/*position*/

	margin: 0px 4px;
	margin-top: 0px;
	margin-bottom: 5px;

	/*text*/
	font-family: var(--header-font);
	font-size: 13.5px;
	text-align: center;

	/*border*/
	border-bottom: 1px solid black;	
}

.infobar *{
	/*margin*/

	height: 1.5em;
}
.space{
	position: relative;
	top: -0.2em;
}

.card-front{
	z-index: 100;
	opacity: 1;
	transition: opacity var(--flip-duration);
}


.card-back{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	padding: 10px;

	opacity: 0;
	transition: var(--flip-duration);
}

.facilities{
	width: 100%;
	font-size: 14px;
	/*overflow: scroll;*/
	/*z-index: 100;*/
	margin-bottom: 20px;
}

.facilities ul{
	list-style: circle;
}

.facilities ul li{
	margin: 5px 0px;
	margin-left: 20px;
}

.description-header{
	font-size: 25px;
    margin-bottom: 8px;
}


div.flipped div.card-front{
	opacity: 0;
}
div.flipped div.card-back{
	opacity: 1;
}

.to-page{

	/*animation*/
	transition: var(--general-delay);
	opacity: 0;
	z-index: -1;

	/*position*/
	position: absolute;
	right: 0.8vw;
	bottom: 0.6vw;

	/*box*/
	background-color: var(--accent-color);
	border: 1px solid gray;
	padding: 5px;
	border-radius: var(--corner-radius);

	/*text*/
	text-decoration: none;
	font-family: var(--header-font);
	color: black;
	text-align: center;
	font-size: 14px;
}

.to-page:hover{
	background-color: rgba(200, 200, 200, 1);
}

.flipped .to-page{
	z-index: 100;
	opacity: 1;
}
