:root{
	--table-border: 1px solid #666666;
}

body{
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}


.right{
	margin-left: 3%;
}
.left{
	margin-right: 3%;
}

.list{
	margin-top: 8px;
	margin-left: 20px;
}

.list-item{
	margin: 0.2vw 0px;
}

.options-container{
	margin-top: 20px;
	text-align: center;
	/*display: grid;*/
	/*grid-template-columns: 60% 40%;*/
}



.option, .table-headers{
	padding: 10px 0px;
	border-bottom: 2px solid black;
	display: grid;
	grid-template-columns: 40% repeat(4, calc(60%/4)) 0;

}



.option{
	font-size: 12px;
	position: relative;
	cursor: pointer;
	transition: var(--general-delay);
}

.option:hover{
	background-color: var(--button-hover-color);
}
.selected:hover{
	background-color: #9dccdbAA;
}

.selected{
	/*color: red;*/
	background-color: var(--accent-color);
}


/*Til side*/
.selector{ 
	opacity: 0;
	transition: var(--general-delay);

	cursor: default	;


	border: 1px solid gray;

	background-color: var(--accent-color);
	border-radius: var(--corner-radius);
	padding: 0.5em 1em;
	position: absolute;
	text-decoration: none;
	color: black;
	font-family: var(--header-font);

	box-shadow: var(--shadow);


	margin: 0.2em 0px;
	/*top: 0.7vw;*/
	right: -140px;
}
.selector.show-selector{
	cursor: pointer;
	opacity: 1;
}

.locations{
	text-align: left;
}

.cols{
	display: grid;
	grid-template-columns: 50% 50%;
	/*grid-template-rows: max(100px,);*/
}

.floorplans{
	/*overflow: contain;*/
	position: relative;
	border: 2px solid var(--accent-color);
	border-radius: var(--corner-radius);
}

.floorplans img{
	position: absolute;
	top: 0;

	max-width: 100%;
	max-height: 100%;
}
.floorplan{
	z-index: 0;
	opacity: 0;
	transition: var(--general-delay);
}
.floorplan.show-floorplan{
	/*border: 3px solid red;*/
	opacity: 1;
	z-index: 100;
}



.how-to, .table{
	margin-top: 20px;
	margin-bottom: 2%;
	padding: 2%;
	border-radius: var(--corner-radius);	
}


.how-to{
	vertical-align: bottom;
	border: 2px solid var(--accent-color);

}



.table {
	font-size: 11px;
	text-align: center;
	
	background-color: var(--accent-color);

	display: grid;

  	grid-template-columns: 20% repeat(3, calc(80%/3));
  	grid-template-rows: 15px 15px 15px;
}

.table div{
	padding: 1px;
}

.table div:nth-child(n+9) {
	height: 100%;
  	border-top: var(--table-border);
  	border-bottom: var(--table-border);
}
.table div:nth-child(-n+4) {
	height: 100%;
  	border-bottom: var(--table-border);
}
.table div:nth-child(4n+1) {
	height: 100%;
  	border-right: var(--table-border);
}
.table div:nth-child(4n+2) {
	height: 100%;
  	border-right: var(--table-border);
}
.table div:nth-child(4n+3) {
	height: 100%;
  	border-right: var(--table-border);
}

.no-display{
	display: none;
}


/*img.checkmark{
	top: -1px;
	object-fit: contain;
	height: 100%;
	width: 100%;
	padding: 2px;

}*/